p,
li {
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.75;
    line-height: 1.5;
}

h2 {
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-stats {
    border: 0;
    background: none;

    // padding: 1rem;
    // border-radius: 0.5rem;
    // text-align: center;
    h3 {
        margin-bottom: 0;
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        margin-bottom: 0;
        font-size: 1rem;
    }
}