.projects-list {
  .project-card {
    background: none;
    border: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .project-card-header {
      background-color: #fff;
      padding: 1.15rem;
      border-radius: 0.85rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;

      h3 {
        font-size: 1.15rem;
        margin-bottom: 0;
      }

      span {
        font-size: 0.85rem;
        opacity: 0.75;
        font-weight: 500;
      }

      .pc-dots {
        display: flex;
        gap: 0.2rem;

        span {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 1rem;
          background-color: #e3e3e3;
          opacity: 1;
          overflow: hidden;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s linear;
          }
        }
      }
    }

    .project-card-img {
      border-radius: 1.25rem;
      overflow: hidden;
      background-color: #fff;
      padding: 0.25rem;

      img {
        width: 100%;
        object-fit: cover;
        height: 500px;
        border-radius: 1rem;
        transition: 0.3s linear;
      }
    }

    &:hover {
      .project-card-header {
        .pc-dots {
          span {
            &:nth-child(1) {
              &::before {
                background-color: rgb(253, 95, 89);
              }
            }

            &:nth-child(2) {
              &::before {
                background-color: rgb(255, 187, 44);
              }
            }

            &:nth-child(3) {
              &::before {
                background-color: rgb(37, 201, 61);
              }
            }
          }
        }
      }

      .project-card-img {
        img {
          &:hover {
            transform: scale(1.05);
            filter: blur(10px);
          }
        }
      }
    }
  }

  // .project-col:nth-child(odd) {
  //   margin-top: -4rem;
  // }
}